{% extends "base.html" %}

{% block title %}Blog List{% endblock %}

{% block content %}
<div class="container">
    <h2>All Blogs</h2>
    <ul>
        {% for blog in blogs %}
            <li>

                <a href="{{ url_for('blog.view', id=blog.id) }}">{{ blog.title }}</a>
                <p>By: {{ blog.author.username }}</p>
                <p>{{ blog.likes }} likes, {{ blog.dislikes }} dislikes</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('blog.create_blog') }}" class="btn btn-primary">Create New Blog</a>
</div>
{% endblock %}
